# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Gradle
.gradle
build
**/build

# Local configuration file (sdk path, etc)
local.properties
local.gradle

# Mac OS
.DS_Store

# Android Studio captures folder
captures/
